@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 1.25rem;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.1;
}

p {
    max-width: 65ch;
    line-height: 1.4;
}

a {
    color: inherit;
}

li {
    list-style: none;
    padding: 0;
}
